<div class="contact-item" [class.deletion-mode]="deletionMode()">
  <div class="contact-avatar" [class.favorite]="contact().favorite" [class.selected]="isSelected()">
    @if (isSelected()) {
      <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="20 6 9 17 4 12"></polyline>
      </svg>
    } @else {
      {{ getInitial() }}
    }
  </div>
  <div class="contact-name">{{ contact().name }}</div>
</div>

